body
{
    color: rgb(217, 46, 46);
    text-align: left;
    font-family: "courier";
    font-size: 16px;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}
#container h1
{
    font-size: 20px;
}